.body {
  font-family: 'Courier New', monospace;
  width: 100%;
  height: 98vh;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.background-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.terminal-container {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.title {
  font-size: 2em;
  font-family: "Figtree", sans-serif;
  margin: 15px;
  color: white;
}
.terminal-welcome {
  font-family: monospace;
  margin-left: 25px;
  font-size: larger;
}
#asc-art {
  margin-left: 25px;
  font-size: 10px;
  color: white;
}
