#command-input {
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  outline: none;
  padding: 5px;
  font-size: 15px;
  font-family: monospace;
}
.social_midia_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  width: 50%;
  padding: 10px;
}
.social_midia_div > div {
    display: flex;
    align-items: center;
    margin: 5px;
}
.social_midia_div a {
  margin: 0 10px;
  font-style: normal;
  text-decoration: none;
  color: rgba(0, 255, 156);
}
.social_midia_div span {
  margin: 0 0 0 5px;
}
